<div><label>Button Treatments - .btn-{treatment}</label></div>
<button type="button" class="btn">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-accent">Accent</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>
<button type="button" class="btn btn-sign_in">Sign In</button>
<hr>
<div><label>Inverse - .btn-inverse</label></div>
<button type="button" class="btn btn-default btn-inverse">Default</button>
<button type="button" class="btn btn-primary btn-inverse">Primary</button>
<button type="button" class="btn btn-secondary btn-inverse">Secondary</button>
<button type="button" class="btn btn-accent btn-inverse">Accent</button>
<button type="button" class="btn btn-warning btn-inverse">Warning</button>
<button type="button" class="btn btn-danger btn-inverse">Danger</button>
<hr>
<div><label>Disabled - .disabled</label></div>
<button type="button" class="btn btn-default disabled">Default</button>
<button type="button" class="btn btn-primary disabled">Primary</button>
<button type="button" class="btn btn-secondary disabled">Secondary</button>
<button type="button" class="btn btn-accent disabled">Accent</button>
<button type="button" class="btn btn-warning disabled">Warning</button>
<button type="button" class="btn btn-danger disabled">Danger</button>
<button type="button" class="btn btn-link disabled">Link</button>
<button type="button" class="btn btn-sign_in disabled">Sign In</button>
<hr>
<div><label>Button Sizes - .btn-{size}</label></div>
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-primary">Default button</button>
<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-primary btn-xs">Extra small button</button>
<hr>
<div><label>Button Block - .btn-block</label></div>
<button type="button" class="btn btn-primary btn-block">Button Block</button>
<hr>
<div><label>Icon Buttons - .btn-icon</label></div>
<button type="button" class="btn btn-default btn-icon btn-lg">
  <%= fa_icon "info-circle" %>
</button>
<button type="button" class="btn btn-default btn-icon">
  <%= fa_icon "info-circle" %>
</button>
<button type="button" class="btn btn-default btn-icon btn-sm">
  <%= fa_icon "info-circle" %>
</button>
<button type="button" class="btn btn-default btn-icon btn-xs">
  <%= fa_icon "info-circle" %>
</button>
<hr>
<div><label>Action Buttons - .btn-action</label></div>
<button type="button" class="btn btn-default btn-action btn-lg">
  <%= fa_icon "play", class: "btn-action-icon" %>
  <label class="btn-action-label">Action Button</label>
</button>
<button type="button" class="btn btn-default btn-action">
  <%= fa_icon "play", class: "btn-action-icon" %>
  <label class="btn-action-label">Action Button</label>
</button>
<button type="button" class="btn btn-default btn-action btn-sm">
  <%= fa_icon "play", class: "btn-action-icon" %>
  <label class="btn-action-label">Action Button</label>
</button>
<button type="button" class="btn btn-default btn-action btn-xs">
  <%= fa_icon "play", class: "btn-action-icon" %>
  <label class="btn-action-label">Action Button</label>
</button>
<hr>
<div><label>Button Groups -.btn-group</label></div>
<div class="btn-group" role="group">
  <button type="button" class="btn btn-default ">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>
<div class="btn-group" role="group">
  <button type="button" class="btn btn-default btn-icon"><%= fa_icon "heart" %></button>
  <button type="button" class="btn btn-default btn-icon"><%= fa_icon "star" %></button>
  <button type="button" class="btn btn-default btn-icon"><%= fa_icon "flag" %></button>
</div>
<hr>
<div><label>Button Groups -.btn-group-justified</label></div>
<div class="btn-group btn-group-justified" role="group">
  <a type="button" class="btn btn-default">Left</a>
  <a type="button" class="btn btn-default">Middle</a>
  <a type="button" class="btn btn-default">Right</a>
</div>
<br>
<div class="btn-group btn-group-justified" role="group">
  <a type="button" class="btn btn-default btn-icon"><%= fa_icon "heart" %></a>
  <a type="button" class="btn btn-default btn-icon"><%= fa_icon "star" %></a>
  <a type="button" class="btn btn-default btn-icon"><%= fa_icon "flag" %></a>
</div>
<hr/>
<div><label>Button Reset -.btn-reset - Remove default &lt;button&gt; browser styles.</label></div>
<div>
  <button class="btn-reset">Button Copy</button>
</div>
<hr>
<div><label>Button Sizes - .btn-{size}</label></div>
<a href="#" class="btn btn-primary btn-lg">Large button</a>
<a href="#" class="btn btn-primary">Default button</a>
<a href="#" class="btn btn-primary btn-sm">Small button</a>
<a href="#" class="btn btn-primary btn-xs">Extra small button</a>
