<label>Basic Forms</label>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <h3 class="color-gray-500 l-section-far">Checkboxes</h2>
  <p class="gray-600">Just add the checkbox-branded class to your form-group div got get branded styling via label:before and label:after.</p>
  <div class="form-group form-group-lg checkbox checkbox-branded l-section-close">
    <%= check_box_tag "terms_of_service" %>
    <%= label_tag "terms_of_service" do %>
      I have read and agree to the <a href= "/tos">Terms of Service</a> and <a href= "/tos">Privacy Policy</a>
    <% end %>
  </div>

  <div class="clearfix">
    <div class="form-group form-group-lg checkbox-branded checkbox-branded-inline">
      <%= check_box_tag 'option1' %>
      <%= label_tag  'option1', 'Upsell 1 (+ $3.99)' %>
    </div>

    <div class="form-group form-group-lg checkbox-branded checkbox-branded-inline">
      <%= check_box_tag 'option2' %>
      <%= label_tag 'option2', 'Upsell 2 (+ $3.99)' %>
    </div>
  </div>

  <h3 class="color-gray-500 l-section">Radios (Coming Soon!)</h2>
  <div class="radio radio-branded l-section">
    <p class="gray-600">Just add the radio-branded class to your form-group div got get branded styling via label:before and label:after.</p>
    <label class="radio-label">
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Option one is this and that
    </label>
    <label class="radio-label radio-branded l-section-close">
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Option two can be something else
    </label>
  </div>

  <div class="form-group l-section-close">
    <div class="radio radio-inline radio-branded">
      <label class="radio-label">
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        <span class="radio-visual"></span>
        Option One Inline
      </label>
      <label class="radio-label radio-branded">
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        <span class="radio-visual"></span>
        Option Two Inline
      </label>
      <label class="radio-label radio-branded">
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        <span class="radio-visual"></span>
        Option Three Inline
      </label>
    </div>
  </div>

  <div class="form-group l-section">
    <div class="select">
      <select class="select-field form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>

<label>Input Sizing</label>
<form>
  <div class="form-group">
    <input class="form-control input-lg" type="text" placeholder=".input-lg">
    <input class="form-control" type="text" placeholder="Default input">
    <input class="form-control input-sm" type="text" placeholder=".input-sm">
    <input class="form-control input-xs" type="text" placeholder=".input-xs">
  </div>
  <div class="form-group">
    <div class="select">
      <select class="select-field form-control input-lg"><option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="select">
      <select class="select-field form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="select">
      <select class="select-field form-control input-sm">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="select">
      <select class="select-field form-control input-xs">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
</form>
