<div class="card style-guide-partial" id="<%= partial.id %>">
  <h2 class="style-guide-partial-title">
    <%= partial.title %>
  </h2>

  <% if partial.description %>
    <div class="style-guide-partial-description">
      <%= partial.description.html_safe %>
    </div>
  <% end %>

  <div class="style-guide-partial-rendered">
    <%= partial.render %>
  </div>

  <% if partial.identifiers.any? %>
    <div class="style-guide-partial-identifiers">
      <% partial.identifiers.each do |identifier_name| %>
        &nbsp;<code><%= identifier_name %></code>
      <% end %>
    </div>
  <% end %>

  <div class="style-guide-toggle">
    <input id="style-guide-toggle-<%= partial.id %>" class="style-guide-toggle-input" type="checkbox" />
    <label for="style-guide-toggle-<%= partial.id %>" class="style-guide-toggle-label">
      <pre class="style-guide-toggle-source prettyprint linenums"><%= escape_for_display(partial.render) %></pre>
      <div class="style-guide-toggle-show">Show source code</div>
      <div class="style-guide-toggle-hide">Hide source code</div>
    </label>
  </div>

</div>
