<%= render :partial => "style_guide/style/header", :locals => {:section => @current_section} %>

<div class="style-guide-content">
  <%= render :partial => "style_guide/style/sidebar", :locals => {:section => @current_section} %>

  <div class="style-guide-partials">
    <%= render :partial => "forever_style_guide/voice_and_tone/purpose" %>
    <%= render :partial => "forever_style_guide/voice_and_tone/voice" %>
    <%= render :partial => "forever_style_guide/voice_and_tone/guidelines" %>
    <%= render :partial => "forever_style_guide/voice_and_tone/types_of_writing" %>
    <%= render :partial => "forever_style_guide/voice_and_tone/branded_terms" %>
    <%= render :partial => "forever_style_guide/voice_and_tone/grammar" %>
    <%= render :partial => "forever_style_guide/voice_and_tone/apologies" %>
  </div>
</div>
