<footer class="footer">
  <div class="footer-products ">
    <div class="row">
      <div class="footer-products-item col-xs-6 col-sm-3">
        <%= link_to "https://store.forever.com/pricing", :title => "Forever Permanent Storage" do %>
          <%= image_tag("forever_style_guide/forever-footer.jpg", alt: "Forever Logo", title: "Forever Permanent Storage", class: "footer-product-img") %>
        <% end %>
      </div>
      <div class="footer-products-item col-xs-6 col-sm-3">
        <%= link_to "https://forever.com/artisan", :title => "Forever Artisan" do %>
          <%= image_tag("forever_style_guide/forever-artisan-footer.jpg", alt: "Forever Artisan Logo", title: "Forever Artisan", class: "footer-product-img") %>
        <% end %>
      </div>
      <div class="footer-products-item col-xs-6 col-sm-3">
      <%= link_to "https://forever.com/historian", :title => "Forever Historian" do %>
        <%= image_tag("forever_style_guide/forever-historian-footer.jpg", alt: "Forever Historian Logo", title: "Forever Historian", class: "footer-product-img") %>
      <% end %>
      </div>
      <div class="footer-products-item col-xs-6 col-sm-3">
      <%= link_to "https://store.forever.com/digitization-services", :title => "Forever Services" do %>
        <%= image_tag("forever_style_guide/forever-conversion-footer.jpg", alt: "Forever Services Logo", title: "Forever Services", class: "footer-product-img") %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="footer-links l-padded">
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="hidden-xs col-sm-4 col-md-3">
              <ul class="list-unstyled">
                <li><a href="#" title="Guarantee">Guarantee</a></li>
                <li><a href="#" title="Print Shop">Print Shop</a></li>
                <li><a href="#" title="Digital Art">Digital Art</a></li>
                <li><a href="#" title="Support">Support</a></li>
                <li><a href="#" title="Blog">Blog</a></li>
                <li><a href="#" title="Forever Live!">Forever Live!</a></li>
              </ul>
            </div>
            <div class="col-sm-4 col-sm-push-4 col-md-push-3">
              <ul class="list-unstyled">
                <li><a href="#" title="My Account">My Account</a></li>
                <li><a href="#" title="Customer Commitments">Customer Commitments</a></li>
                <li><a href="#" title="Terms of Service">Terms of Service</a></li>
                <li><a href="#" title="Investment Policy">Investment Policy</a></li>
                <li><a href="#" title="Return Policy">Return Policy</a></li>
              </ul>
            </div>
            <div class="hidden-xs col-xs-6 col-sm-4 col-sm-pull-4 col-md-3">
              <ul class="list-unstyled">
                <li><a href="#" title="About Forever">About</a></li>
                <li><a href="#" title="Our Team">Team</a></li>
                <li><a href="#" title="Beliefs &amp; Values">Beliefs &amp; Values</a></li>
                <li><a href="#" title="Forever Press">Press</a></li>
                <li><a href="#" title="Careers at Forever">Careers</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-12 l-padded-thin"></div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" title="Sign In" type="button" class="btn btn-default btn-block">Sign In</a>
            </div>
            <div class="col-xs-6">
              <a href="#" title="Join Today" type="button" class="btn btn-primary btn-block">Join Today</a>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row no-gutter security_assurance">
            <div class="text-center security_assurance-icon">
              <span class="fa fa-lock"></span>
            </div>
            <div class="small security_assurance-text">
              Forever is committed to the security of your information.
              <a href="#" title="Review Our Privacy Policy">Review our Privacy Policy.</a>
            </div>
          </div>
        </div>

        <div class="clearfix visible-sm"></div>
        <div class="footer-links-ambassadors col-md-6">
          <h6 class="page-title color-gray-400">Forever Amabassadors</h6>
          <p class="small color-gray-400">
            Help others capture and share their life’s stories. <span class="hidden-xs">(Plus earn commissions and get insider Forever tips &amp; training.)</span>
          </p>
          <span class="color-gray-600">
            <span class="hidden-xs">
              <a href="#" title="Learn More">Learn More</a> | 
            </span>
            <a href="#" title="Sign Up">Sign Up</a> | 
            <a href="#" title="Sign In">Sign In</a>
          </span>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-info l-padded-thin">
    <div class="">
      <div class="">
        <div class="footer-social_icons col-xs-12 col-sm-6 col-sm-push-6">
          <a title="Forever Facebook" href="https://www.facebook.com/Forever">
            <span class="fa-stack fa-2x fa-feature_bullet-social">
              <i class="fa fa-circle fa-feature_bullet-circle color-gray-600 fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
          </a>
          <a title="Forever Twitter" href="https://www.twitter.com/forever">
            <span class="fa-stack fa-2x fa-feature_bullet-social">
              <i class="fa fa-circle fa-feature_bullet-circle color-gray-600 fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
          </a>
          <a title="Forever YouTube" href="https://www.youtube.com/channel/UCfBFL_W3FYW7W0wAr4EEGnA">
            <span class="fa-stack fa-2x fa-feature_bullet-social">
              <i class="fa fa-circle fa-feature_bullet-circle color-gray-600 fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x"></i>
            </span>
          </a>
          <a title="Forever Google Plus" href="https://plus.google.com/102706234482507094530/posts">
            <span class="fa-stack fa-2x fa-feature_bullet-social">
              <i class="fa fa-circle fa-feature_bullet-circle color-gray-600 fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
          </a>
          <a title="Forever Pinterest" href="http://www.pinterest.com/FOREVER/">
            <span class="fa-stack fa-2x fa-feature_bullet-social">
              <i class="fa fa-circle fa-feature_bullet-circle color-gray-600 fa-stack-2x"></i>
              <i class="fa fa-pinterest fa-stack-1x"></i>
            </span>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 footer-copy_contact">
          <h4 class="color-white">Contact us at 1-888-FOREVER</h4>
          <p class="color-white">
            &copy; Copyright 2015, Forever, Inc.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
