<footer class="footer color_block-gray-700">
  <div class="container-fluid color_block-services-dark">
    <h4 class="color-white text-center footer-header">Collect, curate, and celebrate your memories now and for generations&trade;</h4>
  </div>

  <div class="container footer-main_block">
    <div class="row">

      <div class="col-md-6 col-md-push-3 col-xs-12">
        <h4 class="color-gray-300 footer-title">FOREVER&trade; Products</h4>
        <hr class="footer-divider" />
        <div class="row">
          <div class="col-xs-6">
            <ul class="list-unstyled">
              <li><%= link_to trademark("FOREVER Storage®"), storage_url, class: "footer-link", title: "Guaranteed Permanent Storage for Photos & Documents" %></li>
              <li><%= link_to trademark("FOREVER Artisan®"), artisan_url, class: "footer-link", title: "Forever Artisan 5 Digital Scrapbooking Software" %></li>
              <li><%= link_to trademark("FOREVER Historian™"), historian_url, class: "footer-link", title: "Photo Management Software for Windows" %></li>
            </ul>
          </div>
          <div class="col-xs-6">
            <ul class="list-unstyled">
              <li><%= link_to "Digital Art", digital_art_url, class: "footer-link" , title: "Premium Digital Scrapbooking Art" %></li>
              <li><%= link_to "Print Products", print_url, class: "footer-link" , title: "Create and Print Online or with Artisan Scrapbooking Software"%></li>
              <li>
                <%= link_to services_url, class: "footer-link", title: "Digitization and Scanning Services" do %>
                  Media Conversion <span class="hidden-xs">Services</span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-md-pull-6 col-sm-6 col-xs-12">
        <h4 class="color-gray-300 footer-title">Support</h4>
        <hr class="footer-divider" />
        <ul class="list-unstyled">
          <li><%= link_to "Visit FOREVER Help Center", help_center_url, class: "footer-link", title: "Visit the FOREVER Help Center", target: '_blank' %></li>
          <li><%= mail_to "support@forever.com", "support@forever.com", class: "footer-link", title: "Email us at support@forever.com" %></li>
          <li><%= link_to "1-888-FOREVER (1-888-367-3837)", "tel:1-888-367-3837", class: "footer-link", title: "Call us at 1-888-367-3837" %></li>
        </ul>
      </div>

      <div class="col-md-3 col-xs-12 col-sm-6">
         <h4 class="color-gray-300 footer-title">Stay Connected</h4>
        <hr class="footer-divider" />
        <div class="footer-social_icons">
          <%= link_to (fa_stacked_icon "facebook feature_bullet-icon", base: "circle", class: "fa-feature_bullet color-gray-600"), facebook_url, title: "Follow FOREVER on Facebook", target: '_blank' %>
          <%= link_to (fa_stacked_icon "twitter feature_bullet-icon", base: "circle", class: "fa-feature_bullet color-gray-600"), twitter_url, title: "Follow FOREVER on Twitter", target: '_blank' %>
          <%= link_to (fa_stacked_icon "instagram feature_bullet-icon", base: "circle", class: "fa-feature_bullet color-gray-600"), instagram_url, title: "Follow FOREVER on Instagram", target: '_blank' %>
          <%= link_to (fa_stacked_icon "youtube feature_bullet-icon", base: "circle", class: "fa-feature_bullet color-gray-600"), youtube_url, title: "Follow FOREVER on YouTube", target: '_blank' %>
          <%= link_to (fa_stacked_icon "pinterest feature_bullet-icon", base: "circle", class: "fa-feature_bullet color-gray-600"), pinterest_url, title: "Follow FOREVER on Pinterest", target: '_blank' %>
        </div>
      </div>
    </div>

    <div class="row l-section-close">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <p class="footer-link footer-link-dark footer-copyright">&copy; <%= Time.now.year %> FOREVER, Inc</p>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-push-4">
        <p class="small color-gray-400 footer-policy_links">
          <%= link_to "Careers", careers_url, title: "Join the FOREVER Team", class: "footer-link footer-link-dark", target: '_blank' %> |
          <%= link_to "Privacy Policy", privacy_url, class: "footer-link footer-link-dark", title: "FOREVER Privacy Policy" %> |
          <%= link_to "Terms of Service", tos_url, class: "footer-link footer-link-dark", title: "FOREVER Terms of Service" %>
        </p>
      </div>

      <div class="col-xs-12 col-md-4 col-md-pull-4">
        <small class="color-gray-500 footer-location">One PPG Place 20th Floor • Pittsburgh, PA 15222 USA</small>
      </div>
    </div>
  </div>
</footer>
