<!-- Marketing Bootstrap header -->
<nav class="navbar navbar-default navbar-dropdown">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-nav" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "http://www.forever.com", class: "navbar-brand" do %>
      <%= image_tag("forever_style_guide/forever-logo.png", alt: "Forever Logo", class:"navbar-brand-logo") %>
    <% end %>
  </div>
  <div id="collapse-nav" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li class="dropdown nav-item"><a href="#" class="nav-item-tab dropdown-toggle" data-toggle="dropdown">Products &amp; Services</a>
        <ul class="dropdown-menu dropdown-menu-full">
          <li class="dropdown-menu-content">
            <div class="row dropdown-menu-products">
              <div class="col-sm-3 dropdown-menu-product">
                <%= link_to "#" do %>
                  <div>
                    <div class="dropdown-menu-product-item">
                      <%= image_tag("forever_style_guide/forever-logo.png", alt: "Forever Logo", class: "dropdown-menu-product-img") %>
                    </div>
                    <div class="well well-sm hidden-xs hidden-sm dropdown-menu-product-details">
                      <h4 class="dropdown-menu-product-title">Forever Guaranteed Storage</h4>
                      <p class="dropdown-menu-product-description">Store, print and protect your family photos online,  and trust they are safe for generations with the Forever Guarantee.</p>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-sm-3 dropdown-menu-product">
                <%= link_to "#" do %>
                  <div>
                    <div class="dropdown-menu-product-item">
                      <%= image_tag("forever_style_guide/artisan-logo-sm.png", alt: "Forever Artisan", class: "dropdown-menu-product-img") %>
                    </div>
                    <div class="well well-sm hidden-xs hidden-sm dropdown-menu-product-details">
                      <h4 class="dropdown-menu-product-title">Create &amp; Print Amazing Photo Gifts</h4>
                      <p class="dropdown-menu-product-description">Personalize beautiful photo books, phone cases, cards, mugs, and more with our award-winning scrapbooking software!</p>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-sm-3 dropdown-menu-product">
                <%= link_to "#" do %>
                  <div>
                    <div class="dropdown-menu-product-item">
                      <%= image_tag("forever_style_guide/historian-logo-sm.png", alt: "Forever Historian", class: "dropdown-menu-product-img") %>
                    </div>
                    <div class="well well-sm hidden-xs hidden-sm dropdown-menu-product-details">
                      <h4 class="dropdown-menu-product-title">Take Control of Your Desktop's Media Files</h4>
                      <p class="dropdown-menu-product-description">Organize, edit, and protect any type of media file on your desktop with our powerful photo management software.</p>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-sm-3 dropdown-menu-product">
                <%= link_to "#" do %>
                  <div>
                    <div class="dropdown-menu-product-item">
                      <%= image_tag("forever_style_guide/services-logo-sm.png", alt: "Forever Services", class: "dropdown-menu-product-img") %>
                    </div>
                    <div class="well well-sm hidden-xs hidden-sm dropdown-menu-product-details">
                      <h4 class="dropdown-menu-product-title">Forever Services</h4>
                      <p class="dropdown-menu-product-description">Send us old pictures, slides, photo albums, videos, audio tapes - anything! We’ll store them online, where you can then share them with anyone!</p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <%= link_to "Guarantee", "#", class: 'nav-item-tab' %>
      </li>
      <li class="nav-item">
        <%= link_to "Print Shop", "#", class: 'nav-item-tab' %>
      </li>
      <li class="nav-item">
        <%= link_to "Digital Art", "#", class: 'nav-item-tab' %>
      </li>
      <li class="nav-item">
        <%= link_to "More", "#", class: 'nav-item-tab' %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <%= render partial: "forever_style_guide/sections/components/sign_in" %>
    </ul>
  </div><!--/.nav-collapse -->
</nav>
