<header id='header-is_fixed'>
  <nav class='navbar navbar-default color_block-white' role='navigation'>

    <div class='navbar-header'>
      <button type="button" class="navbar-toggle offcanvas-toggle pull-left nav-icon-stack" data-toggle="offcanvas" data-target="#js-main-nav-offcanvas">
        <i class='fa fa-reorder'></i>
        <span class='nav-icon-label'>Menu</span>
      </button>

      <div class="navbar-brand">
        <%= link_to marketing_home_path, title: 'Forever Guaranteed Storage, Digital Scrapbooking, and Printing Logo' do %>
          <%= image_tag image_url("forever_style_guide/forever-logo.jpg"), class: "navbar-brand-logo", alt: "Forever Guaranteed Storage, Digital Scrapbooking, and Printing Logo", title: 'Forever Guaranteed Storage, Digital Scrapbooking, and Printing Logo' %>
        <% end %>
      </div>

      <a href="/cart" class="visible-grid-float-breakpoint nav-icon-stack cart-icon" title="View Your Shopping Cart">
        <i class='fa fa-shopping-cart'></i>
        <span class='nav-icon-label'>Cart</span>
      </a>
    </div>

    <div class="navbar-offcanvas" id="js-main-nav-offcanvas">
      <div class="navbar-offcanvas-container">

        <ul class='nav navbar-nav navbar-left'>

          <li class="visible-xs visible-sm">
            <div class="navbar-toggle navbar-toggle-close color_block-white " id="js-close-main-nav">
              <div class="nav-icon-stack pull-left  navbar-toggle-close-left">
                <i class='fa fa-close'></i>
                <span class='nav-icon-label'>Close</span>
              </div>
            </div>
          </li>

          <li class='dropdown dropdown-full_width'>
            <%= render partial: "forever_style_guide/sections/components/navigation/nav_my_forever_dropdown" %>
          </li>

          <li class='dropdown dropdown-full_width'>
            <%= render partial: "forever_style_guide/sections/components/navigation/nav_products_dropdown" %>
          </li>

          <li class='dropdown dropdown-full_width'>
            <%= render partial: "forever_style_guide/sections/components/navigation/nav_community_dropdown" %>
          </li>
        </ul>

        <ul class='nav navbar-nav navbar-right'>
          <%= render partial: "forever_style_guide/sections/components/navigation/nav_account_dropdown" %>
          <%= render partial: "forever_style_guide/sections/components/navigation/nav_ambassador_dropdown" %>
        </ul>

        <%= render partial: "forever_style_guide/sections/components/navigation/nav_account_signed_out_mobile" %>
      </div>
    </div>

  </nav>
</header>
