<li class='navbar-account_item' id='mini-cart' data-turbolinks-temporary>
  <%= link_to nil, class: "nav-icon-stack" do %>
    <i class='fa fa-shopping-cart'></i>
    <span class="nav-icon-label">Cart</span>
  <% end %>
</li>

<li class='navbar-account_item'>
  <%= link_to nil, class: "nav-icon-stack" do %>
    <i class='fa fa-inbox'></i>
    <span class="nav-icon-label">Inbox</span>
  <% end %>
</li>


<li class='dropdown navbar-account_item'>
  <%= link_to nil, class: 'nav-icon-stack dropdown-toggle', :data => { :toggle => 'dropdown' } do %>
    <i class='fa fa-user'></i>
    <span class="nav-icon-label">Account</span>
  <% end %>

  <div class='dropdown-menu dropdown-menu-nav dropdown-menu-account color_block-gray-700'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-xs-12 l-padded-thin'>

          <ul class="list-unstyled">
            <li>
              <%= image_tag("style_guide/personas/jane_avatar.png", alt: "User name", title: "User Name", class: "dropdown-menu-account-avatar avatar avatar-sm pull-left") %>
              <div class="dropdown-menu-account-user">
                <p class="dropdown-menu-account-user-intro color-gray-300">Signed in as</p>
                <h4 class="page-title color-gray-300">Sophia Anderson</h4>
              </div>
            </li>

            <li class="dropdown-menu-account-divider"></li>

            <li>
              <p class="color-gray-300">
                25% of 50Gb
                <%= link_to nil, "Upgrade", class: 'small', title: "Upgrade your Forever Guaranteed Permanent Storage" %>
              </p>

              <div class="progress progress-thin color_block-primary">
                <div class="progress-bar color_block-gray-400" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                </div>
              </div>
            </li>

            <li class="dropdown-menu-account-divider"></li>

            <li>
              <%= link_to nil, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-no_margin', title: 'Forever Help Center' do %>
                <i class='fa fa-cog'></i>Settings
              <% end %>
            </li>

            <li>
              <%= link_to nil, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-no_margin', title: 'Forever Help Center' do %>
                <i class='fa fa-suitcase'></i>My Back Office
              <% end %>
            </li>

            <li class="dropdown-menu-account-divider"></li>

            <li>
              <%= link_to nil, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-no_margin', title: 'Forever Help Center' do %>
                <i class='fa fa-share'></i>Log Out
              <% end %>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</li>
