<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-12'>

      <ul class="list-unstyled">
        <li class="dropdown-menu-account-item">
          <% if current_user.avatar_url_small %>
            <%= image_tag current_user.avatar_url_small, class: "dropdown-menu-account-avatar avatar avatar-sm pull-left", alt: current_user.name, title: current_user.name %>
          <% else %>
            <%= image_tag "default_avatar.jpg", class: "dropdown-menu-account-avatar avatar avatar-sm pull-left", alt: current_user.name, title: current_user.name %>
          <% end %>

          <div class="dropdown-menu-account-user">
            <p class="dropdown-menu-account-user-intro color-gray-300">Signed in as</p>
            <h4 class="dropdown-menu-account-user-name page-title color-gray-300"><%= current_user.name %></h4>
          </div>
        </li>

        <% if current_user.superadmin? %>
          <li class="dropdown-menu-account-item">
            <%= link_to store_admin_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'Administer The Forever Store' do %>
              <i class='fa fa-shopping-basket fa-fw'></i>Store Admin
            <% end %>
          </li>

          <li class="dropdown-menu-account-item">
            <%= link_to web_app_admin_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'Administer The Forever Web App' do %>
              <i class='fa fa-magic fa-fw'></i>Web App Admin
            <% end %>
          </li>

          <li class="dropdown-menu-account-divider dropdown-menu-account-divider-thin hidden-grid-float-breakpoint"></li>
        <% end %>

        <li class="dropdown-menu-account-item <%= 'hide' if current_user.superadmin? %>">
          <p class="dropdown-menu-account-storage color-gray-300">

            <%= storage_ratio_percent %> of <%= capacity_readable %>
            <%= link_to "Upgrade", upgrade_url, title: "Upgrade your Forever Guaranteed Permanent Storage" %>
          </p>

          <div class="progress progress-thin color_block-gray-400">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= storage_ratio %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= storage_ratio_percent %>; max-width: 100%;"></div>
          </div>
        </li>

        <% if current_user.linked_ambassador.try(:active?) %>
          <li class="dropdown-menu-account-item">
            <%= link_to back_office_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'Ambassador Back Office Reports' do %>
              <i class='fa fa-suitcase fa-fw'></i>My Back Office
            <% end %>
          </li>
          <li class="dropdown-menu-account-divider dropdown-menu-account-divider-thin hidden-grid-float-breakpoint"></li>
        <% end %>

        <li class="dropdown-menu-account-item">
          <%= link_to user_settings_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'View User Settings' do %>
            <i class='fa fa-cog fa-fw'></i>Account Settings
          <% end %>
        </li>

        <li class="dropdown-menu-account-item">
          <%= link_to user_order_history_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'View Order History' do %>
            <i class='fa fa-credit-card fa-fw'></i>Order History
          <% end %>
        </li>

        <li class="dropdown-menu-account-item">
          <%= link_to user_downloads_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'View Downloads' do %>
            <i class='fa fa-cloud-download fa-fw'></i>Downloads
          <% end %>
        </li>

        <li class="dropdown-menu-account-item">
          <%= link_to projects_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'View Print Projects' do %>
            <i class='fa fa-paint-brush fa-fw'></i>Print Projects
          <% end %>
        </li>

        <li class="dropdown-menu-account-divider dropdown-menu-account-divider-thin hidden-grid-float-breakpoint"></li>

        <li class="dropdown-menu-account-item">

          <%= link_to current_admin ? stop_impersonating_url : log_out_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'Log Out of Forever' do %>
            <i class='fa fa-share fa-fw'></i>Log Out
          <% end %>
        </li>
      </ul>

    </div>
  </div>
</div>
