<%= link_to nil, class: "dropdown-toggle dropdown-toggle-products #{'active' if is_in_product_dropdown?}", :data => { :toggle => 'dropdown' } do %>
  Products
  <i class='fa fa-chevron-down'></i>
<% end %>

<div class='dropdown-menu dropdown-menu-nav color_block-gray-700'>
  <div class='container dropdown-menu-nav-container'>
    <div class='row'>
      <div class='col-grid-float-3 l-padded-thin'>
        <h3 class='dropdown-menu-nav-title page-title color-primary'>Media Management</h3>

        <ul class="list-unstyled">
          <li>
            <%= link_to storage_url, class: 'dropdown-menu-nav-link', title: 'Guaranteed Permanent Storage for Photos & Documents' do %>
              <%= trademark("Forever Storage") %>
            <% end %>
            <small class="dropdown-menu-nav-link-subhead">View Pricing, Benefits and Features</small>
          </li>

          <li>
            <%= link_to services_url, class: 'dropdown-menu-nav-link', title: 'Digitization and Scanning Services' do %>
              <span class='hidden-md'>Media </span>Conversion Services
            <% end %>
            <small class="dropdown-menu-nav-link-subhead">Scanning and Digitization</small>
          </li>

          <li>
            <%= link_to trademark('Forever Historian'), historian_url, class: 'dropdown-menu-nav-link', title: 'Photo Management Software for Windows' %>
              <small class="dropdown-menu-nav-link-subhead">Windows Photo Software</small>
          </li>

          <li>
            <%= link_to 'Mobile Apps', mobile_url, class: 'dropdown-menu-nav-link', title: 'Download Forever Mobile Apps' %>
            <small class="dropdown-menu-nav-link-subhead">for iOS and Android</small>
          </li>

          <li>
            <%= link_to trademark('Forever Valet'), valet_url, class: 'dropdown-menu-nav-link', title: 'Forever Valet Desktop Photo Uploader'  %>
            <small class="dropdown-menu-nav-link-subhead">Desktop Uploader</small>
          </li>
        </ul>
      </div>

      <div class='col-grid-float-3 l-padded-thin'>
        <h3 class='dropdown-menu-nav-title page-title color-services'>Design & Printing</h3>

        <ul class="list-unstyled">

          <li>
            <%= link_to trademark('Forever Print'), prints_url, class: 'dropdown-menu-nav-link', title: 'Create Premium Photo Books in No Time' %>
            <small class='navbar-new_tag color-warning font-size-000 font-face-bold'>NEW</small>
            <small class="dropdown-menu-nav-link-subhead">Online Photo Books</small>

            <ul class="list-unstyled dropdown-menu-nav-bullets">
              <li>
                <%= link_to '- Featured Photo Books', featured_photo_books_url, class: 'dropdown-menu-nav-link', title: 'Featured Photo Books' %>
              </li>

              <li>
                <%= link_to '- Browse All', all_photo_books_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-no_margin', title: 'Browse All Photo Books' %>
              </li>
            </ul>
          </li>

          <li>
            <%= link_to trademark('Forever Artisan'), artisan_url, class: 'dropdown-menu-nav-link', title: 'Forever Artisan 5 Digital Scrapbooking Software' %>
              <small class="dropdown-menu-nav-link-subhead">Windows Scrapbooking Software</small>
          </li>

          <ul class="list-unstyled dropdown-menu-nav-bullets">
            <li>
              <%= link_to '- Photo Books, Cards, Calendars, & More', artisan_prints_url, class: 'dropdown-menu-nav-link', title: 'Artisan Photo Books, Cards, Calendars, & More' %>
            </li>
          </ul>

        </ul>
      </div>

      <div class='col-grid-float-3 l-padded-thin dropdown-menu-nav-extra_column'>
        <div class="hidden-grid-float-breakpoint dropdown-menu-nav-spacer"></div>
        <ul class="list-unstyled">
          <li>
            <%= link_to 'Digital Art', digital_art_url, class: 'dropdown-menu-nav-link', title: 'Premium Digital Scrapbooking Art' %>
            <small class="dropdown-menu-nav-link-subhead">Art Kits and Templates for Artisan</small>

            <ul class="list-unstyled dropdown-menu-nav-bullets">
              <li>
                <%= link_to '- New Digital Art', new_digital_art_url, class: 'dropdown-menu-nav-link', title: 'Newest Digital Scrapbooking Art and Embellishments' %>
              </li>

              <li>
                <%= link_to '- Free Kits', free_digital_art_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-no_margin', title: 'Free Digital Scrapbooking Art and Embellishments' %>
              </li>

              <li>
                <%= link_to '- Pre-Designed Layouts', predesigned_layouts_digital_art_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-no_margin', title: 'All Pre-Designed Layouts' %>
              </li>

              <li>
                <%= link_to '- Browse All', all_digital_art_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-no_margin', title: 'All Digital Scrapbooking Art and Embellishments' %>
              </li>
            </ul>
          </li>

          <li>
            <%= link_to trademark('pixels2Pages'), p2p_url, class: 'dropdown-menu-nav-link', title: 'Premium Training and Resources' %>
            <small class="dropdown-menu-nav-link-subhead">Premium Training and Resources</small>
          </li>
        </ul>
      </div>

      <div class='col-grid-float-3 l-padded-thin'>
        <h3 class='dropdown-menu-nav-title page-title color-ambassador-light'>Shopping</h3>

        <ul class="list-unstyled">
          <li>
            <%= link_to 'Current Deals', deals_url, class: 'dropdown-menu-nav-link', title: 'Photo Printing, Digital Art, and Storage Promotions' %>
          </li>

          <li>
            <%= link_to 'Gift Certificates', gifts_url, class: 'dropdown-menu-nav-link', title: 'Buy Forever Gift Certificates' %>
          </li>

          <li class="hide">
            <%= link_to 'Current Deals', deals_url, class: 'dropdown-menu-nav-link', title: 'Photo Printing, Digital Art, and Storage Promotions' %>
          </li>

          <li>
            <%= link_to 'Shipping Info', shipping_info_url, class: 'dropdown-menu-nav-link', title: 'Shipping Information' %>
          </li>

          <li>
            <%= link_to 'Volume Print Discounts', bulk_orders_url, class: 'dropdown-menu-nav-link', title: 'Save Money on Large Print Orders' %>
          </li>

          <li>
            <%= link_to 'Return Policy', return_policy_url, class: 'dropdown-menu-nav-link', title: 'Return Policy' %>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
