<%= link_to nil, class: "dropdown-toggle dropdown-toggle-my_forever products #{'active' if is_in_my_forever_dropdown?}", :data => { :toggle => 'dropdown' } do %>
  My Forever
  <i class='fa fa-chevron-down'></i>
<% end %>

<div class='dropdown-menu dropdown-menu-nav color_block-gray-700'>
  <div class='container dropdown-menu-nav-container'>
    <div class='row'>

      <div class='col-grid-float-3 l-padded-thin'>
        <h3 class='dropdown-menu-nav-title page-title color-primary'>My Forever App</h3>

        <ul class="list-unstyled">
          <% if defined?(current_user) && current_user.present? %>

            <li>
              <%= link_to library_url, class: 'dropdown-menu-nav-link', title: 'Organize Photos in Your Forever Library' do %>
                <i class='fa fa-th-large'></i>Library
              <% end %>
            </li>

            <li>
              <%= link_to projects_url, class: 'dropdown-menu-nav-link', title: 'Create Print Projects' do %>
                <i class='fa fa-paint-brush'></i>Projects
              <% end %>
            </li>

            <li>
              <%= link_to people_url, class: 'dropdown-menu-nav-link', title: 'Share Photos with Friends and Family' do %>
                <i class='fa fa-users'></i>People
              <% end %>
            </li>

            <li>
              <%= link_to app_home_url, class: 'dropdown-menu-nav-link', title: 'View Your Shared Photo Albums' do %>
                <i class='fa fa-home'></i>Home
              <% end %>
            </li>

          <% else %>

            <li>
              <%= link_to login_url, class: 'dropdown-menu-nav-link', title: 'Log in to your Forever account' do %>
                <i class='fa fa-user'></i>Log In
              <% end %>
            </li>

            <li>
              <%= link_to sign_up_url, class: 'dropdown-menu-nav-link', title: 'Sign up for Forever' do %>
                <i class='fa fa-user-plus'></i>Sign Up Free!
              <% end %>
            </li>

          <% end %>
        </ul>
      </div>

      <div class='col-grid-float-3 l-padded-thin'>
        <h3 class='dropdown-menu-nav-title page-title color-secondary'>About</h3>

        <ul class="list-unstyled">
          <li>
            <%= link_to "The #{trademark('Forever Guarantee')}", guarantee_url, class: 'dropdown-menu-nav-link', title: 'Forever Guarantee' %>
          </li>

          <li>
            <%= link_to 'About Us', about_url, class: 'dropdown-menu-nav-link', title: 'About Forever' %>
          </li>

          <li>
            <%= link_to 'Our Team', team_url, class: 'dropdown-menu-nav-link', title: 'Meet the Forever Team' %>
          </li>

          <li>
            <%= link_to 'Our Beliefs', beliefs_url, class: 'dropdown-menu-nav-link', title: 'Forever Beliefs and Values' %>
          </li>
        </ul>
      </div>

      <div class='col-grid-float-3 l-padded-thin'>
        <h3 class='dropdown-menu-nav-title page-title color-services'>Get Started</h3>

        <ul class="list-unstyled">
          <li>
            <%= link_to zendesk_overview_video_url, class: 'dropdown-menu-nav-link', title: 'View the Forever Overview Video', target: '_blank' do %>
              <i class='fa fa-video-camera'></i>Forever Overview
            <% end %>
          </li>

          <li>
            <%= link_to zendesk_uploading_video_url, class: 'dropdown-menu-nav-link', title: 'View the Uploading Photos Tutorial Video', target: '_blank' do %>
              <i class='fa fa-video-camera'></i>Uploading Photos
            <% end %>
          </li>

          <li>
            <%= link_to zendesk_organizing_video_url, class: 'dropdown-menu-nav-link', title: 'View the Organizing Photos Tutorial Video', target: '_blank' do %>
              <i class='fa fa-video-camera'></i>Getting Organized
            <% end %>
          </li>

          <li>
            <%= link_to zendesk_sharing_video_url, class: 'dropdown-menu-nav-link', title: 'View the Sharing Photos Tutorial Video', target: '_blank' do %>
              <i class='fa fa-video-camera'></i>Sharing
            <% end %>
          </li>

        </ul>
      </div>

      <div class='col-grid-float-3 l-padded-thin dropdown-menu-nav-extra_column'>
        <div class="hidden-grid-float-breakpoint l-section-far"></div>
        <ul class="list-unstyled">
          <li>
            <%= link_to zendesk_inbox_video_url, class: 'dropdown-menu-nav-link', title: 'How to Use Your Inbox in Forever - Video Tutorial', target: '_blank' do %>
              <i class='fa fa-video-camera'></i>Inbox
            <% end %>
          </li>

          <li>
            <%= link_to zendesk_albums_video_url, class: 'dropdown-menu-nav-link', title: 'Organizing Photos with Albums in Forever - Video Tutorial', target: '_blank' do %>
              <i class='fa fa-video-camera'></i>Albums
            <% end %>
          </li>

          <li>
            <%= link_to zendesk_nested_albums_video_url, class: 'dropdown-menu-nav-link', title: 'Organizing Photos with Nested Albums in Forever - Video Tutorial', target: '_blank' do %>
              <i class='fa fa-video-camera'></i>Nested Albums
            <% end %>
          </li>

          <li>
            <%= link_to zendesk_tags_video_url, class: 'dropdown-menu-nav-link', title: 'Organizing Photos with Tags in Forever - Video Tutorial', target: '_blank' do %>
              <i class='fa fa-video-camera'></i>Tags
            <% end %>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
