<header id='header-is_fixed'>

  <% if defined?(current_admin) && current_admin.present? %>
    <%= render partial: "forever_style_guide/sections/components/navigation/impersonation_banner" %>
  <% end %>

  <nav class='navbar navbar-default color_block-white' role='navigation'>

    <div class='navbar-header'>
      <button type="button" class="navbar-toggle offcanvas-toggle pull-left nav-icon-stack" data-toggle="offcanvas" data-target="#js-main-nav-offcanvas">
        <i class='fa fa-reorder'></i>
        <span class='nav-icon-label'>Menu</span>
      </button>

      <div class="navbar-brand">
        <%= link_to marketing_home_url, title: 'Forever Guaranteed Storage, Digital Scrapbooking, and Printing Logo' do %>
          <%= image_tag image_url("forever_style_guide/forever-logo.jpg"), class: "navbar-brand-logo", alt: "Forever Guaranteed Storage, Digital Scrapbooking, and Printing Logo", title: 'Forever Guaranteed Storage, Digital Scrapbooking, and Printing Logo' %>
          <%= image_tag image_url("forever_style_guide/forever-logo-xs.png"), class: "navbar-brand-logo-xs", alt: "Forever Guaranteed Storage, Digital Scrapbooking, and Printing Logo", title: 'Forever Guaranteed Storage, Digital Scrapbooking, and Printing Logo' %>
        <% end %>
      </div>

      <!-- Show cart in primary header bar on mobile: see nav_account_dropdown.erb for desktop -->
      <div class="visible-grid-float-breakpoint">
        <%= render partial: "forever_style_guide/sections/components/navigation/nav_cart_icon" %>
      </div>
    </div>

    <div class="navbar-offcanvas" id="js-main-nav-offcanvas">
      <div class="navbar-offcanvas-container">

        <ul class='nav navbar-nav navbar-left'>

          <li class="visible-xs visible-sm">
            <div class="navbar-toggle navbar-toggle-close color_block-white" id="js-close-main-nav">
              <div class="nav-icon-stack pull-left navbar-toggle-close-left">
                <i class='fa fa-close'></i>
                <span class='nav-icon-label'>Close</span>
              </div>
            </div>
          </li>

          <li class='dropdown dropdown-full_width'>
            <%= render partial: "forever_style_guide/sections/components/navigation/nav_my_forever_dropdown" %>
          </li>

          <li class='dropdown dropdown-full_width'>
            <%= render partial: "forever_style_guide/sections/components/navigation/nav_products_dropdown" %>
          </li>


          <li class='dropdown dropdown-full_width'>
            <%= render partial: "forever_style_guide/sections/components/navigation/nav_community_dropdown" %>
          </li>
        </ul>

        <ul class='nav navbar-nav navbar-right'>
          <li><%= link_to "Inspiration", blog_url, title: 'Get Inspired at the Forever Blog', target: "_blank" %></li>

          <li>
            <%= link_to promotions_url, style: 'color: #ED773A;', title: 'View Deals, Sales, and Promotions' do %>
              Deals<i class='fa fa-star' style="display: block; float: right;"></i>
            <% end %>
          </li>



          <!-- HELP -->
          <li class='dropdown'>
            <%= link_to nil, class: 'dropdown-toggle', :data => { :toggle => 'dropdown' } do %>
              Help
              <i class='fa fa-chevron-down'></i>
            <% end %>

            <div class='dropdown-menu dropdown-menu-nav dropdown-menu-account color_block-gray-700'>

            <div class='container-fluid'>
              <div class='row'>
                <div class='col-xs-12'>

                  <h3 class="dropdown-menu-nav-title page-title color-primary">Contact Support</h3>
                    <ul class="list-unstyled">

                      <li class="dropdown-menu-account-item l-section-close">
                        <%= link_to user_settings_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'View User Settings' do %>
                          <i class='fa fa-phone fa-fw'></i>Call 1-888-FOREVER<span style="display: block; padding-left: 30px; margin-top: -20px;"> <br/>(1-888-367-3837)</span>
                        <% end %>
                      </li>

                      <li class="dropdown-menu-account-divider dropdown-menu-account-divider-thin hidden-xs hidden-sm" style="marg\in-top: 10px;"></li>

                      <li class="dropdown-menu-account-item l-section-close">
                        <%= link_to user_settings_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'View User Settings' do %>
                          <i class='fa fa-envelope fa-fw'></i>Email <span style="display: block; padding-left: 30px;">support@forever.com</span>
                        <% end %>
                      </li>

                      <li class="dropdown-menu-account-divider dropdown-menu-account-divider-thin hidden-xs hidden-sm" style="marg\in-top: 10px;"></li>

                      <li class="dropdown-menu-account-item l-section-close">
                        <%= link_to user_settings_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'View User Settings' do %>
                          <i class='fa fa-search fa-fw'></i>Search <span style="display: block; padding-left: 30px;">Visit our Help Center</span>
                        <% end %>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <%= render partial: "forever_style_guide/sections/components/navigation/nav_ambassador_dropdown" %>


          <%= render partial: "forever_style_guide/sections/components/navigation/nav_account_dropdown" %>
        </ul>

        <%= render partial: "forever_style_guide/sections/components/navigation/nav_account_signed_out_mobile" %>
      </div>
    </div>

  </nav>
</header>
