<%= link_to nil, class: 'dropdown-toggle', :data => { :toggle => 'dropdown' } do %>
  Products
  <i class='fa fa-chevron-down'></i>
<% end %>

<div class='dropdown-menu dropdown-menu-nav color_block-gray-700'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-3 l-padded-thin'>
        <h3 class='dropdown-menu-nav-title page-title color-primary-light'>Forever</h3>

        <ul class="list-unstyled">
          <li>
            <%= link_to 'Guaranteed Storage', nil, class: 'dropdown-menu-nav-link', title: 'Guaranteed Permanent Storage for Photos & Documents' %>
          </li>

          <li>
            <%= link_to 'Pricing', nil, class: 'dropdown-menu-nav-link', title: 'Guaranteed Permanent Photo Storage Pricing' %>
          </li>

          <li>
            <%= link_to 'Projects', nil, class: 'dropdown-menu-nav-link', title: 'Make Photo Books and Other Print Projects' %>
          </li>

          <li>
            <%= link_to 'Media Conversion Services', nil, class: 'dropdown-menu-nav-link', title: 'Digitization and Scanning Services' %>
          </li>

          <li>
            <%= link_to 'Mobile Apps', nil, class: 'dropdown-menu-nav-link', title: 'Download Forever Mobile Apps' %>
          </li>

          <li>
            <%= link_to nil, class: 'dropdown-menu-nav-link', title: 'Forever Valet Desktop Photo Uploader' do %>
              Forever Valet <br/>Desktop Uploader
            <% end %>
          </li>
        </ul>
      </div>

      <div class='col-sm-3 l-padded-thin'>
        <h3 class='dropdown-menu-nav-title page-title color-secondary-light'>Print Shop</h3>

        <ul class="list-unstyled">
          <li>
            <%= link_to 'Photo Books', nil, class: 'dropdown-menu-nav-link', title: 'Create and Print Photo Books Online or with Artisan Scrapbooking Software' %>
          </li>

          <li>
            <%= link_to 'Cards', nil, class: 'dropdown-menu-nav-link', title: 'Create and Print Cards Online or with Artisan Scrapbooking Software' %>
          </li>

          <li>
            <%= link_to 'Calendars', nil, class: 'dropdown-menu-nav-link', title: 'Create and Print Calendars Online or with Artisan Scrapbooking Software' %>
          </li>

          <li>
            <%= link_to 'Wall Art', nil, class: 'dropdown-menu-nav-link', title: 'Create and Print Canvases Online or with Artisan Scrapbooking Software' %>
          </li>

          <li>
            <%= link_to 'Photo Gifts', nil, class: 'dropdown-menu-nav-link', title: 'Create and Print Photo Gifts Online or with Artisan Scrapbooking Software' %>
          </li>

          <li>
            <%= link_to 'Page Prints', nil, class: 'dropdown-menu-nav-link', title: 'Create and Print Scrapbooking Pages Online or with Artisan Scrapbooking Software' %>
          </li>
        </ul>
      </div>

      <div class='col-sm-3 l-padded-thin'>
        <h3 class='dropdown-menu-nav-title page-title color-services-light'>Software</h3>

        <ul class="list-unstyled">
          <li>
            <%= link_to 'Forever Historian', nil, class: 'dropdown-menu-nav-link', title: 'Photo Management Software for Windows' %>
          </li>

          <li>
            <%= link_to 'Forever Artisan', nil, class: 'dropdown-menu-nav-link', title: 'Forever Artisan 5 | Digital Scrapbooking Software' %>
          </li>

          <li>
            <%= link_to 'Digital Art', nil, class: 'dropdown-menu-nav-link', title: 'Digital Scrapbooking Art and Embellishments' %>
          </li>

          <li>
            <%= link_to 'Shop Our Newest Digital Art', nil, class: 'dropdown-menu-nav-link', title: 'Newest Digital Scrapbooking Art and Embellishments' %>
          </li>

          <li>
            <%= link_to 'Download Free Digital Art', nil, class: 'dropdown-menu-nav-link', title: 'Free Digital Scrapbooking Art and Embellishments' %>
          </li>
        </ul>
      </div>

      <div class='col-sm-3 l-padded-thin'>
        <h3 class='dropdown-menu-nav-title page-title color-ambassador-light'>Shop</h3>

        <ul class="list-unstyled">
          <li>
            <%= link_to 'Gift Certificates', nil, class: 'dropdown-menu-nav-link', title: 'Buy Forever Gift Certificates' %>
          </li>

          <li>
            <%= link_to 'Forever Gear', nil, class: 'dropdown-menu-nav-link', title: 'Shop Forever Branded Gear' %>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
