<header class="style-guide-header">
  <nav class="navbar navbar-default navbar-fixed-top navbar-stackable">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to forever_style_guide_path, class: "navbar-brand" do %>
        <%= image_tag image_url("forever_style_guide/forever-logo.jpg", alt: "Forever Logo", class:"navbar-brand-logo") %>
      <% end %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% @sections.each_with_index do |section, index| %>
          <li class="nav-item <%= (section == @current_section) ? 'active'.html_safe : '' %>">
            <%= link_to forever_style_guide_path + section.id, class:"nav-item-tab" do %>
              <%= fa_icon(section.icon, class:"nav-item-icon") %>
              <span class="nav-item-label"><%= section.title %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item-stack">
          <div class="nav-item-icon">
            <a href="#" class="switch switch-off"></a>
          </div>
          <span class="nav-item-label">Testing</span>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>
</header>

