<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Forever Style Guide</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <%= stylesheet_link_tag "style_guide/application", :media => "all" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="style-guide" data-spy="scroll" data-target=".style-guide-scrollspy">
  <%= render partial: "layouts/forever_style_guide/navigation" %>
  <div class="style-guide-body">
    <%= yield %>
  </div>
  <%= javascript_include_tag "style_guide/application" %>
  <%= javascript_include_tag "forever_style_guide/application" %>
  <%= javascript_include_tag "application" %>
</body>
</html>
