<%= render :partial => "style_guide/style/header", :locals => {:section => @current_section} %>

<div class="style-guide-content">
  <%= render :partial => "style_guide/style/sidebar", :locals => {:section => @current_section} %>

  <div class="style-guide-partials">
    <%= render :partial => "forever_style_guide/ux_guide/personas/sophia" %>
    <%= render :partial => "forever_style_guide/ux_guide/personas/jane" %>
    <%= render :partial => "forever_style_guide/ux_guide/personas/ted" %>
  </div>
</div>
