<h3>Standard Styling</h3>
<div class="style-guide-partial-rendered">
  <%= fa_stacked_icon "file-image-o feature_bullet-icon", base: "circle feature_bullet-circle", class: "fa-feature_bullet fa-feature_bullet-primary" %>
  <%= fa_stacked_icon "file-image-o feature_bullet-icon", base: "circle feature_bullet-circle", class: "fa-2x fa-feature_bullet fa-feature_bullet-secondary" %>
  <%= fa_stacked_icon "file-image-o feature_bullet-icon", base: "circle feature_bullet-circle", class: "fa-3x fa-feature_bullet fa-feature_bullet-accent" %>
  <%= fa_stacked_icon "file-image-o feature_bullet-icon", base: "circle feature_bullet-circle", class: "fa-4x fa-feature_bullet fa-feature_bullet-primary" %>
  <%= fa_stacked_icon "file-image-o feature_bullet-icon", base: "circle feature_bullet-circle", class: "fa-5x fa-feature_bullet fa-feature_bullet-secondary" %>
</div>
<h3>Exotic Options</h3>
<div class="style-guide-partial-rendered style-guide-partial-rendered-inverse">
  <%= fa_stacked_icon "file-image-o feature_bullet-icon", base: "circle feature_bullet-circle", class: "fa-2x fa-feature_bullet fa-feature_bullet-primary", text: "Right Text", right: true %>
  <%= fa_stacked_icon "file-image-o feature_bullet-icon", base: "circle feature_bullet-circle", class: "fa-2x fa-feature_bullet fa-feature_bullet-primary", text: "Left Text" %>
  <%= fa_stacked_icon "file-image-o feature_bullet-icon", base: "circle feature_bullet-circle", class: "fa-2x fa-feature_bullet fa-feature_bullet-primary fa-inverse", text: "Inverted" %>
  <%= fa_stacked_icon "file-image-o feature_bullet-icon", base: "circle feature_bullet-circle", class: "fa-2x fa-feature_bullet fa-feature_bullet-primary fa-rotate-90", text: "Rotated" %>
  <%= fa_stacked_icon "file-image-o feature_bullet-icon", base: "circle feature_bullet-circle", class: "fa-2x fa-feature_bullet fa-feature_bullet-primary fa-flip-vertical", text: "Flipped" %>
</div>
