<div class="component-avatar">
  <%= image_tag("style_guide/personas/ted_avatar.png", { class: "avatar avatar-icon" }) %>
  <%= image_tag("style_guide/personas/ted_avatar.png", { class: "avatar avatar-xs" }) %>
  <%= image_tag("style_guide/personas/ted_avatar.png", { class: "avatar avatar-sm" }) %>
  <%= image_tag("style_guide/personas/ted_avatar.png", { class: "avatar avatar-md" }) %>
  <%= image_tag("style_guide/personas/ted_avatar.png", { class: "avatar avatar-lg" }) %>
  <%= image_tag("style_guide/personas/ted_avatar.png", { class: "avatar avatar-xl" }) %>
</div>
