<div class="component-avatar">
  <%= image_tag("forever_style_guide/personas/ted_avatar.png", { class: "avatar avatar-icon" }) %>
  <%= image_tag("forever_style_guide/personas/ted_avatar.png", { class: "avatar avatar-small" }) %>
  <%= image_tag("forever_style_guide/personas/ted_avatar.png", { class: "avatar avatar-medium" }) %>
  <%= image_tag("forever_style_guide/personas/ted_avatar.png", { class: "avatar avatar-large" }) %>
  <%= image_tag("forever_style_guide/personas/ted_avatar.png", { class: "avatar avatar-extra-large" }) %>
</div>
