<footer class="footer l-padded-thin">
  <div class="row footer-marketing">

    <div class="col-xs-12 pages l-section-close">
      <a href="https://www.forever.com/about">about</a>
      |
      <a href="https://www.forever.com/about/press">press</a>
      |
      <a href="https://www.forever.com/faq">faq</a>
    </div>

    <div class="social_media_icons center-block">
      <a href="https://www.facebook.com/Forever">
        <%= fa_stacked_icon "facebook", base: "circle feature_bullet-circle", class: "fa-3x fa-feature_bullet-social" %>
      </a>
      <a href="https://www.twitter.com/forever">
        <%= fa_stacked_icon "twitter", base: "circle feature_bullet-circle", class: "fa-3x fa-feature_bullet-social" %>
      </a>
      <a href="https://www.youtube.com/channel/UCfBFL_W3FYW7W0wAr4EEGnA">
        <%= fa_stacked_icon "youtube", base: "circle feature_bullet-circle", class: "fa-3x fa-feature_bullet-social" %>
      </a>
      <a href="https://plus.google.com/102706234482507094530/posts">
        <%= fa_stacked_icon "google-plus", base: "circle feature_bullet-circle", class: "fa-3x fa-feature_bullet-social" %>
      </a>
      <a href="http://www.pinterest.com/FOREVER/">
        <%= fa_stacked_icon "pinterest", base: "circle feature_bullet-circle", class: "fa-3x fa-feature_bullet-social" %>
      </a>
    </div>

    <div class="col-xs-12 info">
      <div class="info-number">
        Contact us at 1-888-FOREVER
      </div>
      <div class="info-tos">
        <a href="https://www.forever.com/privacy">Privacy</a>
        |
        <a href="https://www.forever.com/tos">Terms of Service</a>
        |
        © 2014 Forever, Inc.
      </div>
    </div>

  </div>
</footer>
